body {
	background-color: #aa00ff8c;
}

.container {
	margin: 1% 10%;
}

.input-group {
	margin-bottom: 1%;
}

.input-group span {
	width: 20%;
	text-align: center;
	display: block;
	background-color: darkgray;

}

.input-group input {
/*	width: 89%;*/
	background-color: gray;
}


.btn {
	width: 20%;
}

h2 {
	color:antiquewhite
}

canvas {
	transform: rotate(-90deg);
}
